/* .reactForm{
  text-align: center;
  margin: 0 auto;
}
.form{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
} */
/* input,.sendBtn{
  width: 30%;
  padding: 5px;
  margin-bottom: 10px;
} */
.backImag{
  background-image: url(./image/bgimage.jpg);
  background-size: cover;
}
/* textarea{
  width: 30%;
} */
